<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/admin/favicon.ico">
    <title>迟新-博客</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/www/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/www/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/www/style.css">
    <link rel="stylesheet" type="text/css" href="css/www/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="images/www/index/icon.png">
    <script src="js/www/jquery-2.1.4.min.js"></script>
    <script src="js/www/nprogress.js"></script>
    <script src="js/www/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
    <script src="js/www/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/www/html5shiv.min.js" type="text/javascript"></script>
    <script src="js/www/respond.min.js" type="text/javascript"></script>
    <script src="js/www/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script>window.location.href='upgrade-browser.html';</script>
    <![endif]-->
</head>

