<div>
    <ul class="breadcrumb">
        <li>
            <a href="/admin/index">主页</a>
        </li>
        <li>
            <a href="/admin/user/list">用户列表</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>用户列表</h2>
                <div class="box-icon">
                    <a href="user/addPage" title="添加用户" class="btn btn-round btn-default ajax-action"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dataTables_filter" id="DataTables_Table_0_filter">
                            <label>用户名: <input type="text" aria-controls="DataTables_Table_0"></label>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%items.forEach(function(item,index){%>
                        <tr>
                            <td><%=index+1%></td>
                            <td><%=item.username%></td>
                            <td><%=item.nickname%></td>
                            <td><%=item.iphone%></td>
                            <td><%=item.email%></td>
                            <td><%=item.age%></td>
                            <td>
                                <% if(item.sex=='1'){%>男<%}%>
                                <% if(item.sex=='0'){%>女<%}%>
                                <% if(item.sex!='1'&&item.sex!='0'){%>其他<%}%>
                            </td>
                            <td><%=item.mark%></td>
                            <td class="center ">
                                <a class="btn btn-success ajax-modal" href="user/read" data-id="<%=item.id%>">
                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    查看
                                </a>
                                <a class="btn btn-info ajax-action" href="user/editPage" data-id="<%=item.id%>" title="修改用户">
                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                    修改
                                </a>
                                <a class="btn btn-primary" href="#">
                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                    权限
                                </a>
                                <a class="btn btn-danger ajax-action" href="user/delete" data-id="<%=item.id%>" title="删除用户">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    删除
                                </a>
                            </td>
                        </tr>
                    <%})%>
                    </tbody>
                </table>
                <ul class="pagination pagination-centered">
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/span-->
</div>