<div>
    <ul class="breadcrumb">
        <li>
            <a href="/admin/index">主页</a>
        </li>
        <li>
            <a href="/admin/user/list">角色列表</a>
        </li>
        <li>
            <a href="/admin/user/user_add">添加角色</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> 添加角色</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form" class="form-horizontal" action="role/add" method="post" id="roleaddForm">
                    <div class="form-group">
                        <label for="username" class="control-label col-sm-2">角色名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="username" name="roleName" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">是否可用</label>
                        <div class="radio col-sm-1">
                            <label>
                                <input type="radio" name="enabled" id="optionsRadios1" value="1" checked="">
                                可用
                            </label>
                        </div>
                        <div class="radio col-sm-1">
                            <label>
                                <input type="radio" name="enabled" id="optionsRadios2" value="0">
                                不可用
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="button" class="btn btn-primary" onclick="save('roleaddForm')">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/span-->
</div>