<style>
    label{text-align: center;}
</style>
<form role="form" class="form-horizontal" method="post">
    <input type="hidden"  name="id" value="<%=item[0].id%>">
    <div class="form-group">
        <label class="col-sm-4">角色名称</label>
        <div class="col-sm-4">
            <p><%=item[0].roleName%></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4">是否可用</label>
        <div class="col-sm-4">
            <p>
                <% if(item[0].enabled=='1'){%>可用<%}%>
                <% if(item[0].enabled=='0'){%>不可用<%}%>
                <% if(item[0].enabled!='1'&&item[0].enabled!='0'){%>错误<%}%>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4">创建时间</label>
        <div class="col-sm-4">
            <p><%=item[0].createDate%></p>
        </div>
    </div>
</form>