<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PC首页</title>
</head>
<body>
<h1>电脑端首页</h1>
<h1><%= title %></h1>
<p><a href="/form">发表新文章111</a></p>
<ul>
    <%items.forEach(function(item){%>
    <li><%=item.id%></li>
    <li><%=item.username%></li>
    <li><%=item.nikename%></li>
    <li><%=item.password%></li>
    <li><%=item.age%></li>
    <li><%=item.sex%></li>
    <li><%=item.email%></li>
    <br/>
    <%})%>
</ul>

</body>
</html>